In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("project_sal.csv")

In [3]:
df

    YearsExperience  Projects  Salary
0               1.1         1   39343
1               1.3         2   46205
2               1.5         1   37731
3               2.0         2   43525
4               2.2         1   39891
5               2.9         4   56642
6               3.0         4   60150
7               3.2         3   54445
8               3.2         5   64445
9               3.7         2   57189
10              3.9         4   63218
11              4.0         7   55794
12              4.0         8   56957
13              4.1         8   57081
14              4.5         9   61111
15              4.9        10   67938
16              5.1         8   66029
17              5.3        11   83088
18              5.9         9   81363
19              6.0        12   93940
20              6.8         6   91738
21              7.1         7   98273
22              7.9        11  101302
23              8.2         6  113812
24              8.7         5  109431
25              9.0         5  105582
26              9.5         6  116969
27              9.6         8  112635
28             10.3        10  122391
29             10.5        11  121872
30             11.2         4  127345
31             11.5         8  126756
32             12.3         7  128765
33             12.9         5  135675
34             13.5         9  139465

In [4]:
X=df.iloc[:,:-1].values      #features 2D array is required

In [5]:
y=df.iloc[:,-1].values

In [6]:
y

array([ 39343,  46205,  37731,  43525,  39891,  56642,  60150,  54445,
        64445,  57189,  63218,  55794,  56957,  57081,  61111,  67938,
        66029,  83088,  81363,  93940,  91738,  98273, 101302, 113812,
       109431, 105582, 116969, 112635, 122391, 121872, 127345, 126756,
       128765, 135675, 139465], dtype=int64)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model=LinearRegression()

In [9]:
model.fit(X,y)    # trained our model

LinearRegression()

In [10]:
y_pred=model.predict(X)

In [11]:
print(y)

[ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872
 127345 126756 128765 135675 139465]

In [12]:
print(y_pred)

[ 37431.5689382   39484.05052484  40868.91457455  45499.40538845
  46884.26943815  53901.05060716  54760.38701625  56145.25106596
  56812.86860289  60108.12434292  62494.41469803  64355.17741252
  64688.98618099  65548.32259008  69319.47699489  73090.6313997
  74141.68668094  76861.78580452  81350.1867221   83210.94943659
  88082.78809848  90994.6060942   99204.53244077 100113.49782569
 104076.37110265 106654.38032991 111284.87114381 112811.82508984
 119494.79749038 121547.27907702 125225.97256135 129139.21686248
 135680.09936671 140168.50028429 146659.75381268]

In [13]:
39343-37431.5689382    # Residual

1911.4310618000018

In [14]:
abs(y-y_pred)

array([1.91143106e+03, 6.72094948e+03, 3.13791457e+03, 1.97440539e+03,
       6.99326944e+03, 2.74094939e+03, 5.38961298e+03, 1.70025107e+03,
       7.63213140e+03, 2.91912434e+03, 7.23585302e+02, 8.56117741e+03,
       7.73198618e+03, 8.46732259e+03, 8.20847699e+03, 5.15263140e+03,
       8.11268668e+03, 6.22621420e+03, 1.28132779e+01, 1.07290506e+04,
       3.65521190e+03, 7.27839391e+03, 2.09746756e+03, 1.36985022e+04,
       5.35462890e+03, 1.07238033e+03, 5.68412886e+03, 1.76825090e+02,
       2.89620251e+03, 3.24720923e+02, 2.11902744e+03, 2.38321686e+03,
       6.91509937e+03, 4.49350028e+03, 7.19475381e+03])

In [15]:
print("Loss:",sum(abs(y-y_pred)))

Loss: 170390.04363010425

# In regression we have r2_score to calculate model loss

In [16]:
from sklearn.metrics import r2_score

In [17]:
r2_score(y,y_pred)    # r2 score

0.966005920085164

In [18]:
import pandas as pd

In [ ]:
df=pd.read_csv("fraud_detection_bank_dataset.csv")

In [ ]:
df

,Unnamed: 0,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,0,9,1354,0,18,0,1,7,9,0,...,0,0,0,1,1,0,0,0,49,1
1,1,0,239,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,2,0,260,0,4,0,3,6,0,0,...,0,0,0,1,1,0,0,0,56,1
3,3,17,682,0,1,0,0,8,17,0,...,0,1,0,1,1,0,0,0,65,1
4,4,1,540,0,2,0,1,7,1,0,...,0,0,0,1,1,0,0,0,175,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20463,20463,0,88,0,0,0,2,-1,0,0,...,0,1,0,0,0,0,1,0,85,0
20464,20464,0,134,0,2,0,0,6,0,0,...,0,0,0,0,0,0,0,0,7,0
20465,20465,4,393,1,1,0,0,-1,4,0,...,0,1,0,0,0,0,0,0,45,0
20466,20466,0,10,0,1,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,5,0
20467,20467,4,399,0,3,0,1,7,4,0,...,0,1,0,1,1,0,0,0,72,0

In [ ]:
df.targets[(df.targets==0)].count()

15030

In [ ]:
df.targets[df.targets==1].count()

5438

In [ ]:
X=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
sample=SMOTE()

In [ ]:
X,y=sample.fit_resample(X,y)

In [ ]:
X.shape

(30060, 112)

In [ ]:
y.shape

(30060,)